<%= form_with model: task do |form| %>
  <% if task.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(task.errors.count, "lỗi") %> khiến task không được lưu:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title, "Tiêu đề" %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description, "Mô tả" %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :done, "Đã hoàn thành" %>
    <%= form.check_box :done %>
  </p>

  <p><%= form.submit "Lưu" %></p>
<% end %>
